<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ichong.zzy.sy">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
    >

        <activity
            android:name="com.sdk.mobile.manager.login.cucc.OauthActivity"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.ActivityDialogStyle"
            android:screenOrientation="portrait"/>
        <!--  **********************移动授权页activity**************************-->
        <activity
            android:name="com.cmic.sso.sdk.activity.LoginAuthActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.ActivityDialogStyle"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <!--  **********************电信授权页activity**************************-->
        <activity
            android:name="com.chuanglan.shanyan_sdk.view.ShanYanOneKeyActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.ActivityDialogStyle"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <!--  **********************协议页activity**************************-->
        <activity
            android:name="com.chuanglan.shanyan_sdk.view.CTCCPrivacyProtocolActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.ActivityDialogStyle"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
  